.buttons {

    font-family:'Comic Sans MS';
       font-size:21; 

}

.text {
    font-family: Verdana;
    font-size: 40;
    text-align: center;
    color:darkorange
}

.textp {
   font-family:'Comic Sans MS';
       font-size:21; 
color:orange


}